<launch>

    <!-- <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
        <param name="scan_height" value="1"/>
        <remap from="image" to="/pepper_robot/camera/depth/camera/image_raw"/>
    </node> -->

    <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager"/>

    <node pkg="nodelet" type="nodelet" name="depthimage_to_laserscan_loader" args="load depthimage_to_laserscan/DepthImageToLaserScanNodelet standalone_nodelet">
        <remap from="image" to="/pepper_robot/camera/depth/camera/image_raw"/>
        <param name="output_frame_id" value="/laser_virtual"/>
        <param name="range_min" value="0.3"/>
        <remap from="scan" to="/depth_to_laser/scan"/>
    </node>

    <arg name="map_file" default="clf.yaml" />
    <arg name="map" default="$(find pepper_plymouth_ros)/maps/$(arg map_file)" />
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map)"/>

    <!-- not using any localization -> we assume that the /odom frame is always correct -->
    <!--<node name="map_odom_transform" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /map /odom 10"/>-->
    <node name="amcl" pkg="amcl" type="amcl" output="screen">
        <remap from="/scan" to="/laser/scan_merged"/>
        <param name="odom_model_type" value="omni" />
        <param name="base_frame_id" value="base_footprint" />
    </node>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
        <remap from="/scan" to="/laser/scan_merged"/>
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
        <rosparam file="$(find pepper_plymouth_ros)/nav_conf/move_base_params.yaml" command="load" />
        <rosparam file="$(find pepper_plymouth_ros)/nav_conf/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find pepper_plymouth_ros)/nav_conf/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find pepper_plymouth_ros)/nav_conf/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find pepper_plymouth_ros)/nav_conf/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find pepper_plymouth_ros)/nav_conf/local_planner.yaml" command="load" ns="TrajectoryPlannerROS" />
        <rosparam file="$(find pepper_plymouth_ros)/nav_conf/local_planner.yaml" command="load" ns="DWAPlannerROS" />
    </node>

</launch>
